<!-- Navigation -->
<a id="menu-toggle" class="btn btn-dark btn-lg toggle" (click)="showSideNav()"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" class="btn btn-light btn-lg pull-left toggle" (click)="hideSideNav()"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a (click)="hideSideNav()">D3/Ng2</a>
        </li>
        <li>
            <a (click)="hideSideNav()" [routerLink]="['/']">Dashboard</a>
        </li>
        <li>
            <a (click)="hideSideNav()" [routerLink]="['/customers']">Customers</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 class="custom-title">D3/Angular2 Quick-Start</h1>
    </div>
</header>

<!-- ROUTES -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer>
    <div class="container" id="contact">
        <div class="row">
            <div class="text-center">
                <hr>
                <h2 class="subheading text-center">Footer</h2>
                <ul class="list-unstyled">
                    <li><p class="lead"><i class="fa fa-envelope-o fa-fw"></i> <a href="">email</a></p></li>
                </ul>
                <p class="text-muted">Copyright info</p>
            </div>
        </div>
    </div>
</footer>

<!-- Tidy Up From Angular 2 Quick-Start with John Papa and Ward Bell -->
<!--<h1>{{title}}</h1>
<div [style.color]="myColor">
    Hello {{name}}
</div>

<input type="text" [value]="name" (keyup.enter)="name = $event.target.value">

<input type="text" [(ngModel)]="name">

<button (click)="changeColor()">Change Color</button>
<app-customers></app-customers>-->