<!-- Node Graph -->
<section class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="subheading">Node Graph</h2>
                <div id="d3nodegraph-container">
                    <app-nodegraph [nodegraphData]="nodegraphData"></app-nodegraph>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="subheading">Node Table</h2>
                <div>
                    <app-nodetable [nodetableData]="nodetableData"></app-nodetable>
                </div>
            </div>
        </div>
    </div>
</section>