
<!-- Node Graph -->
<section class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="subheading">Node Graph</h2>
                <!--Add component here-->
                <div id="d3nodegraph-container"></div>
                <app-nodegraph></app-nodegraph>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Node Graph -->
<section class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="subheading">Node Table</h2>
                <!--Add component here-->
                <div id="d3nodegraph-container"></div>
                <p class="lead">
                    Put map here somewhere.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
